<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sajaukto burtu spēle</title>
  </head>
  <body>
    <h1><a href="/">Sajaukto burtu spēle</a></h1>
    <ul>
      <li>
        <a href="/spele"> spēle </a>
      </li>
      <li>
        <a href="/tops"> tops </a>
      </li>
    </ul>
    <p>
      Spēles mērķis ir attīstīt skolēnu lasītprasmi, vārdu krājumu un uzmanību.
      <br />
      Lai motivētu skolēnus piedalīties spēlē, tajā ir iekļauti draudzīgas
      sacensības elementi, kā piemēram, labāko spēlētāju tops.
    </p>
    <h2>Noteikumi</h2>
    <p>
      Par garāku vārdu salikšanu spēles gaitā var iegūt vairāk punktu.
      <br />
      Jo vairāk vārdu izdosies salikt 1 minūtes laikā, jo vairāk punktus
      iegūsiet!
    </p>

    <h3>Spēles veidotājs</h3>
    <p>Larisa Kosjaņenko, START IT</p>
  </body>
</html>
