<!DOCTYPE html>
<html lang="lv">
  <head>
    <link href="static/style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tops</title>
  </head>
  <body>
    <h1><a href="/">Atgriezties uz sākumlapu</a></h1>
    <div id="rezultati"></div>
    <script>
      let resultsDiv = document.getElementById("rezultati");

      fetch("/api").then((response) => {
        response.json().then((results) => {
          createResultsTable(results);
        });
      });

      function createResultsTable(results) {
        let resultsTable = "<table><tr><th>Vards</th><th>Punkti</th></tr>";
        results.forEach((oneResult) => {
          resultsTable +=
            "<tr><td>" +
            oneResult.vards +
            "</td><td>" +
            oneResult.punkti +
            "</td></tr>";
        });
        resultsTable += "</table>";
        resultsDiv.innerHTML = resultsTable;
      }
    </script>
  </body>
</html>
